/* global.css */
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --accent-color: #979797;
    --card-bg: #c9c6c6;
    --border-color: #2a2a2a;
    width: 100%;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

main {
    width: 100%;
    padding: 2rem 1rem;
    text-align: center;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input,
textarea,
button,
select {
    background-color: var(--card-bg);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    padding: 0.5rem;
    border-radius: 6px;
}

button {
    cursor: pointer;
    background-color: var(--accent-color);
    color: black;
    font-weight: 600;
    border: none;
    transition: 0.3s;
}

button:hover {
    opacity: 0.9;
}

.nav-button {
    font-weight: bolder;
    font-family: Montserrat;
}
nav{
    background-color: rgb(126, 71, 50);;
}